/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.modal2 {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  /* Скрывает клики, если модал закрыт */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal2.open {
  opacity: 1;
  pointer-events: all;
}

.Modal2Content {
  width: 60%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  border-radius: 5px;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #1B2A3D;
  border-radius: 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Home__wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shadow1 {
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
  box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
}

.shadow2 {
  -webkit-box-shadow: rgba(17, 17, 26, .1) 0 1px 0, rgba(17, 17, 26, .1) 0 8px 24px, rgba(17, 17, 26, .1) 0 16px 48px;
  box-shadow: 0 1px 0 rgba(17, 17, 26, .1), 0 8px 24px rgba(17, 17, 26, .1), 0 16px 48px rgba(17, 17, 26, .1);
}

.Exam__Wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.Header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Sidebar {
  position: fixed;
  display: flex;
  height: 100vh;
  border-right: 2px solid black;
  width: 100%;
  max-width: 17rem;
  flex-direction: column;
  background-color: #1B2A3D;
  background-clip: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #4a4a4a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 20px rgba(29, 36, 56, 0.15);
  transition: transform 0.3s ease;
}

.SidebarOpen {
  transform: translateX(0);
}

.SidebarClose {
  transform: translateX(-100%);
}
.main-layout .shifted {
  margin-left: 270px;
}
.main-layout {
  transition: margin-left 0s ease;
}

.Modal{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Скрывает клики, если модал закрыт */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal.open{
  opacity: 1;
  pointer-events: all;
}
.ModalContent{
  width: 500px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  border-radius: 5px;
}